@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --gradient: #4288b6;
        --background: 215 97.4% 98.34%;
        --foreground: 215 4.8% 0.68%;

        --muted: 215 4.8% 91.7%;
        --muted-foreground: 215 2.4% 41.7%;

        --popover: 215 51.6% 91.7%;
        --popover-foreground: 215 4.8% 0.8500000000000001%;

        --card: 215 51.6% 91.7%;
        --card-foreground: 215 4.8% 0.8500000000000001%;

        --border: 215 9.8% 89.68%;
        --input: 215 9.8% 89.68%;

        --primary: 215 48% 17%;
        --primary-foreground: 215 0.96% 91.7%;

        --secondary: 215 2.4% 95.85%;
        --secondary-foreground: 215 3.88% 11.7%;

        --accent: 215 2.4% 95.85%;
        --accent-foreground: 215 3.88% 11.7%;

        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 0 0% 98%;

        --ring: 215 48% 17%;

        --radius: 0.5rem;
    }

    .dark {
        --gradient: #16303f;

        --background: 217 30.549999999999997% 2.56%;
        --foreground: 217 4.699999999999999% 96.6%;

        --muted: 217 23.5% 9.6%;
        --muted-foreground: 217 4.699999999999999% 53.2%;

        --popover: 217 55.6% 4.16%;
        --popover-foreground: 217 4.699999999999999% 96.6%;

        --card: 217 55.6% 4.16%;
        --card-foreground: 217 4.699999999999999% 96.6%;

        --border: 217 23.5% 9.6%;
        --input: 217 23.5% 9.6%;

        --primary: 217 47% 32%;
        --primary-foreground: 217 4.699999999999999% 96.6%;

        --secondary: 217 23.5% 9.6%;
        --secondary-foreground: 217 4.699999999999999% 96.6%;

        --accent: 217 23.5% 9.6%;
        --accent-foreground: 217 4.699999999999999% 96.6%;

        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 217 4.699999999999999% 96.6%;

        --ring: 217 47% 32%;
    }

    *,
    *::before,
    *::after {
        @apply border-border;
    }

    html, body {
        height: 100vh;
        font-family: Arial, Helvetica, sans-serif;
    }

    body {
        @apply bg-gradient text-foreground;
    }

    .bg-gradient {
        background: var(--gradient);
    }
}
